@model IEnumerable<FoodStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}



<h2 class="text-center btn-dark p-2">Category Details</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-dark mt-3" >Create More</a>
</p>
